<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowdfunding App</title>
</head>
<body>
    <header>This is a header</header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <hr>
        <h3>&copy; Felisha 2022</h3>
    </footer>
</body>
</html>